In [1]:
# Mawrer Amed Ramirez Martinez
# Avance de TOG IDI 4
# ms723737@iteso.mx
# Notebook para integrar los multiples CSV files 
# obtenidos de https://www.histdata.com/download-free-forex-historical-data/?/ascii/1-minute-bar-quotes/EURUSD
# en un solo Dataset y realizar resampling

import numpy as np
np.random.seed(1)
from tensorflow import set_random_seed 
set_random_seed(2)

from datetime import datetime

import matplotlib.pyplot as plt
from matplotlib import pyplot
from matplotlib.pyplot import figure
import matplotlib.dates as mdates
import plotly.graph_objects as go

import pandas as pd
from pandas.plotting import autocorrelation_plot
from pandas.plotting import scatter_matrix
import math as m
import os, glob

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
#LOAD DATASET for ASK
# change column names
#load Dataset for BID
#change column names

pwd = os.getcwd()
source_data = os.path.join(pwd, r'../../../Datasets/histdata/eurusd/')
filenames = glob.glob(source_data + "/*.*")
filenames.sort()
for file in filenames:
    print(os.path.basename(file))

DAT_ASCII_EURUSD_M1_2000.csv
DAT_ASCII_EURUSD_M1_2001.csv
DAT_ASCII_EURUSD_M1_2002.csv
DAT_ASCII_EURUSD_M1_2003.csv
DAT_ASCII_EURUSD_M1_2004.csv
DAT_ASCII_EURUSD_M1_2005.csv
DAT_ASCII_EURUSD_M1_2006.csv
DAT_ASCII_EURUSD_M1_2007.csv
DAT_ASCII_EURUSD_M1_2008.csv
DAT_ASCII_EURUSD_M1_2009.csv
DAT_ASCII_EURUSD_M1_2010.csv
DAT_ASCII_EURUSD_M1_2011.csv
DAT_ASCII_EURUSD_M1_2012.csv
DAT_ASCII_EURUSD_M1_2013.csv
DAT_ASCII_EURUSD_M1_2014.csv
DAT_ASCII_EURUSD_M1_2015.csv
DAT_ASCII_EURUSD_M1_2016.csv
DAT_ASCII_EURUSD_M1_2017.csv
DAT_ASCII_EURUSD_M1_2018.csv
DAT_ASCII_EURUSD_M1_2019.csv

In [4]:
print(int(len(filenames)))

20

In [5]:
dataset_list = list()
#for i in range(len(filenames)):
for i in range(20):
    dateparse = lambda x: pd.datetime.strptime(x, '%Y%m%d %H%M%S')
    #header_list = ['datetime', 'Open' , 'High','Low', 'Close', 'Volume']
    dataset = pd.read_csv(filenames[i], date_parser=dateparse, parse_dates=[0], index_col=0, header=None, sep=';')
    dataset.columns = ['Open' , 'High','Low', 'Close', 'Volume']
    dataset_list.append(dataset)

In [6]:
dataset_2000 = dataset_list[0]
print(dataset_2000.columns)
print(dataset_2000.dtypes)
print(dataset_2000.shape)

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')
Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object
(143167, 5)

In [7]:
dataset_2010= dataset_list[10]
print(dataset_2010.columns)
print(dataset_2010.dtypes)
print(dataset_2010.shape)

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')
Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object
(352320, 5)

In [8]:
dataset_2019 = dataset_list[19]
print(dataset_2019.columns)
print(dataset_2019.dtypes)
print(dataset_2019.shape)

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')
Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object
(372530, 5)

In [9]:
print(dataset_2000.head(1))
print(dataset_2000.tail(1))

                       Open    High     Low   Close  Volume
0
2000-05-30 17:27:00  0.9302  0.9302  0.9302  0.9302       0
                       Open    High     Low   Close  Volume
0
2000-12-29 11:25:00  0.9373  0.9374  0.9373  0.9373       0

In [10]:
print(dataset_2010.head(1))
print(dataset_2010.tail(1))

                       Open    High     Low   Close  Volume
0
2010-01-03 17:00:00  1.4301  1.4304  1.4301  1.4304       0
                       Open    High    Low   Close  Volume
0
2010-12-31 14:58:00  1.3361  1.3366  1.336  1.3364       0

In [11]:
print(dataset_2019.head(1))
print(dataset_2019.tail(1))

                        Open     High      Low    Close  Volume
0
2019-01-01 17:02:00  1.14598  1.14599  1.14598  1.14598       0
                        Open     High      Low    Close  Volume
0
2019-12-31 16:59:00  1.12099  1.12115  1.12076  1.12076       0

In [12]:
df = pd.concat(dataset_list)

In [13]:
print(df.columns)
print(df.dtypes)
print(df.shape)

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')
Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object
(6539138, 5)

In [14]:
print(df.head(1))
print(df.tail(1))

                       Open    High     Low   Close  Volume
0
2000-05-30 17:27:00  0.9302  0.9302  0.9302  0.9302       0
                        Open     High      Low    Close  Volume
0
2019-12-31 16:59:00  1.12099  1.12115  1.12076  1.12076       0

In [16]:
pwd = os.getcwd()
source_data = os.path.join(pwd, r'../../../Datasets/histdata/eurusd/FULL/full_data.csv')
df.to_csv (source_data, index = True, header=True)